In [7]:
import pandas as pd
data = [[1, 'Wang', 'Allen'], [2, 'Alice', 'Bob']]
person = pd.DataFrame(data, columns=['personId', 'firstName', 'lastName']).astype({'personId':'Int64', 'firstName':'object', 'lastName':'object'})
data = [[1, 2, 'New York City', 'New York'], [2, 3, 'Leetcode', 'California']]
address = pd.DataFrame(data, columns=['addressId', 'personId', 'city', 'state']).astype({'addressId':'Int64', 'personId':'Int64', 'city':'object', 'state':'object'})

In [17]:
person

   personId firstName lastName
0         1      Wang    Allen
1         2     Alice      Bob

In [11]:
address

   addressId  personId           city       state
0          1         2  New York City    New York
1          2         3       Leetcode  California

In [25]:
person.merge(right=address,how= 'left',left_on='personId',right_on='personId')[['firstName','lastName','city','state']]

  firstName lastName           city     state
0      Wang    Allen            NaN       NaN
1     Alice      Bob  New York City  New York